.main-carousel{


    .card-img{
        border-radius: 20px !important;
    }
    .card-img-overlay{
        p{
            opacity: 1 !important;
        }
        background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, rgba(11,11,11,0.5) 100%,  rgba(11,11,11,1) 100%);
    }


    .carousel-img {
        img{
         width: 80%;
         opacity: 1;
         
        }
        

    }
  
    .card-text-2 , .card-text-1{
        color: #fff !important;
        opacity: 1 !important;
        
    }

    .card-text-1{
        font-size: 13px;
        letter-spacing: 0.5px;
    line-height: 1.3333;
    font-weight: 600;
    }

    .card-text-2{
        font-weight: 600;
    }
 
    .learn-more{
        color: black;
        background-color: #fff;
        border-radius: 4px;
        font-size: 14px;
        padding: 15px 18px 15px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .card-img-overlay{
        padding: 60px !important;
    }
    .qq{
        text-align: left;
        font-size: 12px;
    }

    // .slick-initialized { overflow: hidden; }

    .slick-list{
        width: 83%;
    }
    .slick-prev:before , .slick-next:before{
        display: none;
        cursor:none;
    }

    .slick-arrow{
        display: none !important;
    }

    
    .custom-indicator li{
        width: 80%;
        height: 80px;

     
       
    }

    .carousel-box{
        border-radius: 10px;
    }

    .all{
        padding: 10px;
    }

    .custom-indicator li.slick-active {
        .carousel-box{
            
            background-color: #f5f5f51f !important;
            transition: 0.5s;
        }
      }
    .custom-indicator li:hover{
        .carousel-box{
            
            background-color: #f5f5f51f !important;
            transition: 0.5s;
        }
      
    }

    .custom-indicator{
        top: 0 !important;
        display: flex !important;
        flex-direction: column !important;
        left: 83%;
        height:100%;
       gap: 24px !important;
        

    }

    .mini-text{
        margin-top: 3rem!important;
    }

    @media (max-width:1599px) and (min-width:1399px) {

        .custom-indicator{
            gap: 26px !important;
        }

        .card-text-2{
            font-size: 12px !important;
        }

        .card-text-1{
            font-size: 11px !important;
        }


        .carousel{
            margin-top: 30px !important;
        }

        .mini-text{
            margin-top: 2.5rem!important;
        }
        .custom-indicator li{
            width: 80%;
            height: 60px;
     
         
           
        }

        .custom-indicator{
            img{
                width: 40px !important;
                height: 53px !important;
            }
        }
    }

    @media (max-width:1399px) and (min-width:1133px) {

        .custom-indicator{
            gap: 0px !important;
        }

        .mini-text{
            margin-top: 2rem!important;
        }

        .card-text-2{
            font-size: 12px !important;
        }

        .card-text-1{
            font-size: 11px !important;
        }


        .carousel{
            margin-top: 30px !important;
        }
        .custom-indicator li{
            width: 80%;
            height: 70px;
     
            margin-top: 5px;
         
           
        }

        .slick-list{
            width: 85%;
        }

        .custom-indicator{
            img{
                width: 25px !important;
                height: 33px !important;
            }
        }
    }

    @media (max-width:1133px) and (min-width:992px) {
        .custom-indicator{
            gap: 0px !important;
            left: 80% !important;
        }

        .custom-indicator li{
            width: 80%;
            height: 70px;
      
            margin-top: 15px;
         
           
        }

        .slick-list{
            width: 81%;
        }

        .custom-indicator{
            img{
                width: 30px !important;
                height: 37px !important;
            }
        }
    }

    @media (max-width:992px) and (min-width:768px) {

        .all{
            padding: 2px;
        }

        .custom-indicator{
            gap: 0px !important;
            left: 80% !important;
        }

        .mini-text{
            margin-top: 1rem!important;
        }
        .card-text-1{
            font-size: 10px;
        }

        .card-text-2{
            font-size: 11px;
        }

        .card-img-overlay{
            padding: 30px !important;
        }

        .carousel{
            margin-top: 30px;
        }
        .custom-indicator li{
            width: 80%;
            height: 60px;
        
            margin-top: 10px;
         
           
        }

        .slick-list{
            width: 81%;
        }

        .custom-indicator{
            img{
                width: 30px !important;
                height: 37px !important;
            }
        }
    }

    @media (max-width:768px) {
        .carousel{
            margin-top: 30px;
        }
        
        .card-text-2{
            font-size: 15px !important;
        }

        .card-img-overlay{
            padding: 30px !important;
        }
        .card-img{
            height: 100% !important;
        }

        .card{
            height: 100% !important;
        }

        .slick-slide > div {
            height: 500px !important;
        }

        .slick-slide{
            height: 500px !important;
        }

      
        .custom-indicator{
            display: none !important;
        }

        .slick-list {
            width: 100% !important;
        }

        .slick-slider{

            display: flex;
            align-items: center !important;
            justify-content: center !important;

        }

        .slick-slide > div {
            margin: 0 0px;
        }

    }

    ul{
        width: 20%;
      
      
    }

    .custom-indicator li.slick-active{
        filter: grayscale(0);
    }

}