


.signin{
    overflow-y: auto;
    // background-color: #202020;
    // background-color:rgba(0, 0, 0, 0.33) !important;
    height: 100% !important;
    width: 100%;
    
    text-align: center;
display: flex;
align-items: center;
justify-content: center;

    .box{

      margin-top: 54.3px;
      margin-bottom: 54.3px;
      margin-left: 25px;
      margin-right: 25px;
    //   overflow-y: hidden;
        width: 470px;
        height: 860px;
        background-color: #202020;

    }

    .main-box{
        padding: 50px 55px 60px;
    }


    .bEiEtT {
        margin-bottom: 30px;
    }

    .sign-title{
        font-size: 1.125rem;
        color: #fff;
        font-weight: 500;
    line-height: 1.5625rem;
    letter-spacing: 0.5px;
    }

    .sign-tables{
        margin-top: 40px;
    }
    .sign-box{
        cursor: pointer;
        background-color: rgb(43, 43, 43);
        border-radius: 4px;
        margin: 10px 0px 0px;
    }

    .sign-text{
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1rem;
        letter-spacing: 0.5px;
        font-size: 0.75em;
        
    }

    .fPrwoD {
        border-radius: 4px;
        height: 50px;
        min-width: 85px;
        transition: all 0.2s ease 0s;
        // max-width: 100%;
        // width: 100%;
        color: white;
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(53, 53, 53);
    }

    .cZndMo {
        width: 25px;
        height: 25px;
        color: rgb(255, 255, 255);
    }
    .gwntXE {

        border-radius: 4px;
        height: 50px;
        min-width: 85px;
        transition: all 0.2s ease 0s;
      
        color: white;
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(50, 97, 163);
    }

    .ktutzu {
        width: 20px;
        height: 20px;
        color: rgb(255, 255, 255);
    }

    .XbHjJ {
        border-radius: 4px;
        height: 50px;
        min-width: 85px;
        transition: all 0.2s ease 0s;
      
        color: white;
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(254, 253, 253);
    }

    .gtEFsM {
        width: 20px;
        height: 20px;
    }


    .dNPYiR {
        height: 50px;
        min-width: 85px;
        transition: all 0.2s ease 0s;
       border-radius: 4px;
        color: white;
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(70, 128, 194);
    }

    .bUsEeW {
        width: 20px;
        height: 20px;
    }

    .jeVdWU {
        height: 50px;
        min-width: 85px;
        transition: all 0.2s ease 0s;

        color: white;
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(2, 125, 0);
    }

    .jOTbKI {
        width: 20px;
        height: 20px;
        color: rgb(255, 255, 255);
    }

    .coXuGN {
        height: 50px;
        min-width: 85px;
        transition: all 0.2s ease 0s;
   
        color: white;
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(0, 99, 197);
    }

    .czcrUT {
        width: 25px;
        height: 20px;
        color: rgb(255, 255, 255);
    }

    .ezrYBJ {
        height: 50px;
        min-width: 85px;
        transition: all 0.2s ease 0s;
      
        color: white;
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(233, 0, 0);
    }

    .loRuPN {
        width: 65px;
        height: 35px;
        color: rgb(255, 255, 255);
    }

    .jjiOue {
        height: 50px;
        min-width: 85px;
        transition: all 0.2s ease 0s;

        color: white;
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(20, 92, 143);
    }

    .inZWLN {
        width: 20px;
        height: 20px;
        color: rgb(255, 255, 255);
    }

    .iipket {
        height: 50px;
        min-width: 85px;
        transition: all 0.2s ease 0s;
      
        color: white;
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    .bceTsA {
        width: 20px;
        height: 20px;
        color: black;
    }

    .ljiSme {
        width: 50px;
        height: 50px;
        margin-left: 3px;
        margin-right: 3px;
        transform: translateY(2px);
    }

    .jUHlxN {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.ccq{
    color: #fff;
    // font-size: 1rem;
    font-size: 14px;
    // font-family: Brutal, sans-serif;
    font-weight: 400;
  text-decoration: underline;
}
}